<h2>Game</h2>

@Html.Partial("_ChatPartial")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="@Url.Content("/Scripts/Game/Chat.js")"></script>       
}